<h1>Hae artikkeli</h1>

<form method="POST" action="/haeartikkeli">
    <fieldset>
        Hakusana        : <input type="text" name="hakusana" id="hakusana" size="150"/>
        <br/>       
        <input name="haeartikkeli" type="submit" value="Hae artikkeli" />
    </fieldset>
<form>  
    
<p><a href="/haevinkki">Takaisin valikkoon</a></p>
<p><a href="/">Takaisin päävalikkoon</a></p>

#if( $error )
<div id="error" style="color:red">
    <p><em>$error</em></p>
</div>
#end

#if( $articles )
<div id="articles" style="color:black">
    <p><em>$articles</em></p>
</div>
#end
