<h1>Hae tagien avulla</h1>

<form method="POST" action="/haetagi">
    <fieldset>
        Tagi: 
        <select name="tagi">
            #foreach ($tag in $allTags)
                <option value="$tag">$tag</option>
            #end
        </select>
        <p>       
        <input name="haetagi" type="submit" value="Hae" />
    </fieldset>
<form>  
    
<p><a href="/haevinkki">Takaisin valikkoon</a></p>
<p><a href="/">Takaisin päävalikkoon</a></p>

#if( $error )
<div id="error" style="color:red">
    <p><em>$error</em></p>
</div>
#end

#if( $tags )
<div id="tags" style="color:black">
    <p><em>$tags</em></p>
</div>
#end

