<h1>Hae video</h1>

<form method="POST" action="/haevideo">
    <fieldset>
        Hakusana        : <input type="text" name="hakusana" id="hakusana" size="150"/>
        <br/>       
        <input name="haevideo" type="submit" value="Hae video" />
    </fieldset>
<form>  
    
<p><a href="/haevinkki">Takaisin valikkoon</a></p>
<p><a href="/">Takaisin päävalikkoon</a></p>

#if( $error )
<div id="error" style="color:red">
    <p><em>$error</em></p>
</div>
#end

#if( $videos )
<div id="videos" style="color:black">
    <p><em>$videos</em></p>
</div>
#end
