<h1>Lukuvinkistö</h1>




<h2>Lisää vinkki</h2>

<b>Lisää vinkki</b> -linkkien avulla lukuvinkistöön voidaan lisätä uusia vinkkejä.

Valitse vasemmalla olevasta navigointipalkista joko <b>Lisää kirja</b>, <b>Lisää artikkeli</b> tai <b>Lisää video</b>.
Täytä avautuva lomake. Kirjailijan nimessä on oltava vähintään kolme kirjainta.
Tagit lisätään yhteen kertaan pilkuilla eroteltuna.

<h2>Poista vinkki</h2>

Kun haluat poistaa lukuvinkistöstä vinkkejä, klikkaa aluksi vasemmalla olevasta navigointipalkista linkkiä <b>Poista kirja</b>, <b>Poista artikkeli</b> tai <b>Poista video</b>.
Täytä avautuva lomake ja lähetä se.
Ohjelma ilmoittaa, onnistuiko poistaminen.

<h2>Selailunäkymä</h2>

<h3>Haku</h3>
Jos haluat <b>hakea</b> tietokannasta vinkkejä, käytä selailunäkymän yläosassa olevaa hakukenttää. Valitse kategoria, tagi tai kirjoita vapaa hakusana.

<h3>Vinkin muokkaus</h3>
Jos haluat <b>muokata</b> tai <b>poistaa</b> vinkkejä, valitse selailunäkymän listalta haluamasi vinkki ja klikkaa sen välittömässä läheisyydessä olevaa <b>Muokkaa</b>-painiketta. Muokkaa haluamasi tiedot avautuvaan lomakkeeseen ja lähetä lomake.
!Huom! Jos haluat poistua muokkausnäkymästä, käytä muokkaa painiketta, tai sen alla olevia linkkejä

<h2>Lopeta ohjelma -linkki</h2>

Sulkee ohjelman.



