<h1>Lisää video</h1>

#if( $error )
<div id="error" style="color:red">
    <p><em>$error</em></p>
</div>
#end

#if( $lisatty )
<div id="lisatty" style="color:green">
    <p><em>$lisatty</em></p>
</div>
#end

<form method="POST" action="/lisaavideo">
    <fieldset>
        Otsikko : <input type="text" name="otsikko" id="otsikko" size="150"/>
        <br/>
        Verkko-osoite : <input type="text" name="verkkoosoite" id="verkkoosoite" size="100"/>
        <p>
        Tagit pilkulla eroteltuina : <input type="text" name="tagit" id="tagit" size="100"/>
        <br/>              
        <input name="lisaavideo" type="submit" value="Lisää video" />
    </fieldset>
<form>  
    
<p><a href="/lisaavinkki">Takaisin valikkoon</a></p>
<p><a href="/">Takaisin päävalikkoon</a></p>
