<h1>Lisää artikkeli</h1>

#if( $error )
<div id="error" style="color:red">
    <p><em>$error</em></p>
</div>
#end

#if( $lisatty )
<div id="lisatty" style="color:green">
    <p><em>$lisatty</em></p>
</div>
#end

<form method="POST" action="/lisaaArtikkeli">
    <fieldset>
        <label for="otsikko">Otsikko:</label>
        <input type="text" name="otsikko" id="otsikko" size="100"/>
        <br/>
        
        <label for="verkko-osoite">Verkko-osoite:</label>
        <input type="text" name="verkkoosoite" id="verkkoosoite" size="100"/>
        <br />
        
        <label for="tagit">Tagit pilkulla eroteltuina:</label>
        <input type="text" name="tagit" id="tagit" size="100"/>
        <br/>              
        
        <input name="lisaaArtikkeli" type="submit" value="Lisää artikkeli" />
    </fieldset>
</form>  
    
<p><a href="/">Takaisin aloitusnäkymään</a></p>
