<h1>Muokkaa videoa</h1>

#if( $error )
<div id="error" style="color:red">
    <p><em>$error</em></p>
</div>
#end

<form method="POST" action="/tallennamuokkaus">
    <fieldset>
        <label for="otsikko">Otsikko:</label>
        <input type="text" name="otsikko" id="otsikko" size="100" value="$title"/>
        <br /> 
        
        <label for="sivumaara">Linkki:</label>
        <input type="text" name="linkki" id="linkki" size="100" value="$link"/>
        <br />
        
        <label for="tagit">Tagit pilkulla eroteltuina:</label>
        <input type="text" name="tagit" id="tagit" size="100" value="$tags"/>
        <br/>          
        
        <label for="status">Katsottu:</label>
        <input type="checkbox" name="status" id="status" $status/>
        <br/>
        
        <input type="hidden" name="id" id="id" value="$id"/>
        <input type="hidden" name="type" id="type" value="2"/>
        <br/>          
        
        <input name="tallennamuokkaus" type="submit" value="Muokkaa" />
    </fieldset>
<form>  
    
<p><a href="/naytavinkit">Takaisin valikkoon</a></p>
<p><a href="/">Takaisin päävalikkoon</a></p>
