<h1>Selailu näkymä</h1>


<form method="POST" action="/selaakirjoja">
    <fieldset>
        Kategoria: 
        <select name="kategoria">
                <option value="Kaikki">Kaikki</option>
                <option value="Kirjat">Kirjat</option>
                <option value="Artikkelit">Artikkelit</option>
                <option value="Videot">Videot</option>
        </select>
        <p>
        Tagi: 
        <select name="tagi">
            <option value="Kaikki">Kaikki</option>
            #foreach ($tag in $allTags)
                <option value="$tag">$tag</option>
            #end
        </select>
        <p>     
        Hakusana        : <input type="text" name="hakusana" id="hakusana" size="150"/>
        <br/>       
        <input name="selaa" type="submit" value="Selaile" />
    </fieldset>
<form>  
    
<p><a href="/haevinkki">Takaisin valikkoon</a></p>
<p><a href="/">Takaisin päävalikkoon</a></p>

#if( $error )
<div id="error" style="color:red">
    <p><em>$error</em></p>
</div>
#end


<h2>Kirjat</h2>
#if( $books )
<div id="books" style="color:black">
    <p><em>$books</em></p>
</div>
#end

<h2>Artikkelit</h2>
#if( $articles )
<div id="articles" style="color:black">
    <p><em>$articles</em></p>
</div>
#end

<h2>Videot</h2>
#if( $videos )
<div id="videos" style="color:black">
    <p><em>$videos</em></p>
</div>
#end
